
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    background-color: #f4f6fa;
  }
  [data-theme="dark"] body {
    background-color: #2b2626; /* Dark mode background color */
}
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b5cfff;
    color: #000000;
    padding: 10px 20px;
  }
  [data-theme="dark"] .header{
    background-color:#000000 ;
    color:#b5cfff ;
  }
  .logo-name {
    margin-right: 10px;
    display: flex; /* Align items horizontally */
    align-items: center; /* Center vertically */
    font-family: "Lobster";
    font-weight: 900;
    font-style: normal;
    font-size: 3.5rem;
    
  }
 
  .name {
    
  }
  .content {
    padding: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 0%;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #000000;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
.nav {
  text-align: right; /* Align the navigation items to the right */
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}
.background1 {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000 0%, #001f33 30%, #004466 70%, #051521 100%);
  z-index: -1;
}
.grouper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c1{
  max-height: 275px;
  min-width: 100px;
  width: 100%;
  margin-top: 40px ;
  margin-left: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
[data-theme="dark"] .c2{
  background-color:#000000 ;
}
.c2{
  max-height: 800px;
  min-width: 100px;
  width: 100%;
  margin-top: 40px ;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}
[data-theme="dark"] .c1{
  background-color:#000000 ;
}
.container{
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(208, 213, 235, 0.1);
  /*opacity: 0;  Initially hidden */
  /*transition: opacity 0.25s ease;  Smooth transition */
}
[data-theme="dark"] .contianer{
  background-color:#373737 ;
}
.drop-zone {
  border: 2px dashed #C0C0C0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  cursor: pointer;
  margin-bottom: 10px;
}

.drop-zone__prompt {
    font-size: 18px;
}

.drop-zone__input {
    display: none;
}
  .resultbox1{
    margin-top: 20px;
  }
  
  .appear {
    opacity: 1; /* Make it visible when scrolled */
  }
  .off-white {
    color: #579aff; /* Use a hexadecimal color code or any other supported color format */
    text-align: left;
    margin-bottom: 2px;
  }
  [data-theme="dark"] .off-white{
    color:#b5cfff ;
  }
  .text_col1 {
    color: #000000; /* Use a hexadecimal color code or any other supported color format */
    font: 'Poppins';
    font-size: large;
  }
  [data-theme="dark"] .text_col1{
    color:#ffffff ;
  }
  
  .text_col2 {
    color: #000000; /* Use a hexadecimal color code or any other supported color format */
    font: 'Poppins';
    font-size: small;
  }
  [data-theme="dark"] .text_col2{
    color:#ffffff ;
  }
  
  .CV-instructions {
    
    font-family: 'Poppins';
    color: #000000;
    font-size: small;
  
  }
  [data-theme="dark"] .CV-instructions{
    
    color:#ffffff ;
  }
  
  .job-description {
    font-family: 'Poppins';
    color: #000000;
    font-size: small;
    margin-top: 0px;
  
  }
  [data-theme="dark"] .job-description{
    
    color:#ffffff ;
  }
  .job-description-field{

    background-color: #f4f6fa;

  }
  [data-theme="dark"] .job-description-field{

    background-color: #2b2626;

  }
  
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input[type="file"] {
    margin-bottom: 10px;
  }
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  